/*Como buena práctica es recomendable desarrollar el CSS de una página en el siguiente orden:
1.- Posicionamiento de los elementos
2.- Modelo de caja de los elementos (margin,border,padding,content,width, heigth)
3.- Tipografía (fuentes, tamaños de fuentes, peso de fuentes)
4.- Estilos visuales (box-shadow, border-radius, gradient, etc)
5.- Otros (reglas CSS y más)
*/
:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*-----------------------------------------------FOOTER------------------------------------------------------*/

footer{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}
.footer-left{
    width: 50%;
    text-align: center;
}
.footer-left ul{
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.4rem;
}
.footer-left li{
    margin-bottom: 7px;
}
.footer-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-icon-year{
    display: inline-block;
    width: 60px;
    height: 55px;
    background-image: url("../assets/icons/logo-icon-year.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
