/*Como buena práctica es recomendable desarrollar el CSS de una página en el siguiente orden:
1.- Posicionamiento de los elementos
2.- Modelo de caja de los elementos (margin,border,padding,content,width, heigth)
3.- Tipografía (fuentes, tamaños de fuentes, peso de fuentes)
4.- Estilos visuales (box-shadow, border-radius, gradient, etc)
5.- Otros (reglas CSS y más)
*/
:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*---------------------------------------------BODY----------------------------------------------------------*/
main{
    width: 100vw;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-contanier{
    width: 100vw;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-contanier .backgroundimg{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    background-image: url(../assets/images/Bitcoin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-exchange-contanier--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-contanier--title h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 30px;
}
.main-exchange-contanier--title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom: 30px;
}
.main-tables-container .currency-table--container{
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 4rem;
    color: var(--grey);
    background-color: var(--just-white);


}
.main-currency-table{
    text-align: start;
    margin-left: 25%;
    width: 60%;
    min-width: 235px;
    max-width: 500px;
    margin-bottom: 30px;
    font-family: "Inter", "sans-serif";
}

.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:var(--bitcoin-orange);
    text-align: start;
}

.table-content-rigth{
    font-weight: normal;
    font-size: 14px;
    color: #757575;
}

.down{
    display: inline-block; /*propiedad necesaria en el span para darle una imagen como background*/
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.up{
    display: inline-block; /*propiedad necesaria en el span para darle una imagen como background*/
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-up.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-currency-table .currency-table2--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:var(--secondary-blue);
    text-align: start;
}
.currency-table--date{
    font-family: "Inter", "sans-serif";
    font-size: 12px;
    color: var(--black);
    background-color: var(--soft-orange);
    width: 173px;
    height:31px;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
    border-radius: 8px;
}
.currency-table--date2{
    font-family: "Inter", "sans-serif";
    font-size: 12px;
    color: var(--black);
    background-color: var(--soft-blue);
    width: 173px;
    height:31px;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
    border-radius: 8px;
}
.main-product-detail{
    position: relative;/*esta propiedad nos permite que los elementos hijos que tengan "position: aboslute"
     se  basen en este elemento padre para definir su  posición con top, bot, left y right*/
    width: 100vw;
    min-width: 320px;
    background-color: var(--warm-black);
    color:#808080;
    padding-top: 55px;
    height: auto;
    padding-bottom: 20px;
}
.main-product-detail .batata-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../assets/icons/logo-icon.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    position: absolute;/*este elemento definirá su posicion con top,bottom,left y righ, usando al padre
    mas directo que tenga con "postion:relative" como referencia*/
    top:-17px;
    left: calc(50% - 17px);
}
.main-product-detail--title h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
    margin-bottom: 20px;
}
.main-product-detail--title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
    margin-bottom: 30px;
}
.product-detail--card{
    background-color: var(--black);
    width: 90%;
    min-width: 288px;
    max-width: 400px;;
    min-height: 140px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/clock.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    margin-bottom: 10px;
}
.eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/eye.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    margin-bottom: 10px;
}
.dolar{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/dollar-sign.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    margin-bottom: 10px;
}
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/check-circle.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    margin-bottom: 10px;
}
.product--card-title{
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-white);
    font-weight: bold;
    margin-bottom: 8px;
}
.product--card-body{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;

}
.bitcoin-img-container{
    width: 100vw;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/images/bitcoinbaby1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bitcoin-img-container h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--just-white);
    padding-top: 30px;
}

.main-plans-container{
    text-align: center;
    background-color: var(--off-white);
    width: 100vw;
    height: auto;
    padding: 60px 10px 15px;
}
.main-plans-container h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color:var(--warm-black)
}
.main-plans-container .plans--title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#757575;
}
.plans--title{
    margin-bottom: 40px;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap:20px;
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}
.plans-container--card-limitado{
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 200px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--warm-black);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}
.recomendado{
    left: calc(50% - 50.5px);
    top: calc(0% - 15.5px);
    position: absolute;
    width: 101px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    padding: 7px;
    font-family: "Inter", "sans-serif";
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--just-white);
}
.basico{
    left: calc(50% - 50.5px);
    top: calc(0% - 15.5px);
    position: absolute;
    width: 101px;
    height: 31px;
    background-color: var(--secondary-blue);
    border-radius: 8px;
    padding: 7px;
    font-family: "Inter", "sans-serif";
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--just-white);
}
.limitado{
    left: calc(50% - 50.5px);
    top: calc(0% - 15.5px);
    position: absolute;
    width: 101px;
    height: 31px;
    background-color: #c7c7c7;
    border-radius: 8px;
    padding: 7px;
    font-family: "Inter", "sans-serif";
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #4d4d4d;
}
.plan-info-container{
    padding-top: 30px;
}
.plan-card--title{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #000000;
}
.plan-card--title-limitado{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
}
.plan-card--price{
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: #000000;
}
.plan-card--price-limitado{
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: var(--just-white);
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}
.plan-card--saving{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:#757575;
}
.plan-card--ca{
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color:var(--warm-black);
    width: 151px;
    height: 48px;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 7px;
    background-color: var(--off-white);
}
.plan-card--ca-limitado{
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color:var(--just-white);
    width: 151px;
    height: 48px;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 7px;
    background-color: var(--off-white);
}
.plan-card--ca span{
    margin-left: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/arrow-right.svg"); 
    vertical-align: text-bottom;
}
