/*Como buena práctica es recomendable desarrollar el CSS de una página en el siguiente orden:
1.- Posicionamiento de los elementos
2.- Modelo de caja de los elementos (margin,border,padding,content,width, heigth)
3.- Tipografía (fuentes, tamaños de fuentes, peso de fuentes)
4.- Estilos visuales (box-shadow, border-radius, gradient, etc)
5.- Otros (reglas CSS y más)
*/
:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/*----------------------------------------HEADER-------------------------------------------------------------*/
header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.header--title-container p{
    margin-top: 26px;
    color:var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.header--title-container .header--button{
    display: block;
    width: 220px;
    height: 45px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: var(--warm-black);
    background-color: var(--off-white);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 312px;
    left: calc(50% - 115px);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/arrow-down.svg");
}