/*Como buena práctica es recomendable desarrollar el CSS de una página en el siguiente orden:
1.- Posicionamiento de los elementos
2.- Modelo de caja de los elementos (margin,border,padding,content,width, heigth)
3.- Tipografía (fuentes, tamaños de fuentes, peso de fuentes)
4.- Estilos visuales (box-shadow, border-radius, gradient, etc)
5.- Otros (reglas CSS y más)
*/
:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*---------------------------------------------BODY----------------------------------------------------------*/
main{
    width: 100vw;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-contanier{
    width: 100vw;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.main-exchange-contanier .backgroundimg{
    width: 100vw;
    height: 200px;
    background-image: url(../assets/images/Bitcoin.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.main-exchange-contanier--title h2{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: var(--warm-black);
    margin-bottom: 20px;
}
.main-exchange-contanier--title p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
}
